body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;  
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
    display: block;
    margin-top: 5px;
}

label.noerror {    
    display: none;
}​